<div class="tt">
    <div class="yy">
        <p>{{ detailNameListener }}</p>
        <span></span>
    </div>
    <ul>
        <li>
            <p>{{ detatilScoreListener }}</p>
            <p><b>{{ percentListener }}</b></p>
        </li>
        <li>
            <p>{{ detailBestScoreListener }}</p>
            <p><b>{{ bestPercentListener }}</b></p>
        </li>
        <li>
            <p>{{ detailAttemptsListener }}</p>
            <p><b>{{ attemptsListener }}</b></p>
        </li>
    </ul>
</div>