<header>
    <nav>
      <div>
        <img src="../../../assets/imgs/cambridge-logo-2x.png" alt="">
      </div>
      <section>
        <div class="div-start">
          <img class="img-one" src="../../../assets/imgs/interrogative.png" alt="">
          <p>Help</p>
        </div>
        <img class="div-middle img-two" src="../../../assets/imgs/notification.png" alt="">
        <div class="div-end">
          <img class="img-three" src="../../../assets/imgs/user.png" alt="">
          <p>
            Juan
            <span></span>
          </p>
        </div>
      </section>
    </nav>
</header>