<main>
    <section class="bc" >
        <p><span></span>Back</p>
    </section>
    <section class="sec--one">
        <p class="hello">Progress</p>
    </section>
    <section class="sec-info">
        <article>
            <p>PALA ING A1 CLASS 5</p>
            <span class="ico-on"></span>
            <p>SMART ACADEMY S.A.S</p>
        </article>
        <article>
            <p class="m">est.ibjuan@smart.edu.co</p>
            <span class="ico-on"></span>
            <p class="m">Last active 21 hours ago</p>
        </article>
    </section>
    <section class="boo">
        <img src="../../../assets/imgs/book.png" alt="">
        <p>Interchange Fifth Edition Level 1</p>
    </section>
    <section class="sec--two" > 
        <a><span></span>Understanding the data</a>
    </section>
    <section class="sec-thr" >
        <div class="st">
            <p class="tt">Digital Workbook</p>
            <span class="arrow-on" [class.active]="unitCtrStatus" ></span>
        </div>
        <article (click)="toggleUnitCtr()">
            <div>
                <img class="img-o" src="../../../assets/imgs/loaded.png" alt="">
                <p class="ti pp"><b>158</b>/247</p>
                <p>Completed</p>
            </div>
            <div>
                <img class="img-tw" src="../../../assets/imgs/gold-fill-star.png" alt="">
                <p class="ti"><b>158</b>/158</p>
                <p>Above target</p>
            </div>
            <div>
                <img class="img-thr" src="../../../assets/imgs/gold-star.png" alt="">
                <p class="ti"><b>0</b>/158</p>
                <p>Bellow target</p>
            </div>
            <div>
                <img class="img-fou" src="../../../assets/imgs/avg.png" alt="">
                <p class="ti"><b>100%</b></p>
                <p>Average score</p>
            </div>
            <div>
                <img class="img-fiv" src="../../../assets/imgs/time.png" alt="">
                <p class="ti">14h 56m</p>
                <p>Time spent</p>
            </div>
        </article>
        <div [ngClass]="{ 'active': unitCtrStatus, 'activeDetails': detailsCtrStatus }"  class="progss" *ngFor="let unit of dataUnits" >
            <app-unit
            [imgStatusListener]="unit.imgStatus"
            [numUnitListener]="unit.numUnit"
            [numFillListener]="unit.numFill"
            [numCompletedListener]="unit.numCompleted"
            [timeSpentListener]="unit.timeSpent"
            [finishedListener]="unit.finishedUnit"

            [vocabularyArrayListener]="unit.vocabulary"
            [grammarArrayListener]="unit.grammar"
            [listeningArrayListener]="unit.listening"
            [readingArrayListener]="unit.reading"
            [videoArrayListener]="unit.video"
            ></app-unit>
        </div>
    </section>
</main>